h1 {
	text-align: center;
}

body {
	width: 100%;
	text-align: center;
}

.Button button {
	width: 12vw;
	font-size: 2vh;
	background-color: rgb(91, 181, 211);
	border: 0;
}

.form {
	align-self: center;
	margin-left: 40%;
}
